@keyframes drawerBtn {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
.drawer-in-icon-enter-active {
  animation: drawerBtn .3s;
}
.drawer-in-icon-leave-active {
  animation: drawerBtn .3s reverse;
}
.drawer-out-icon-enter-active {
  animation: drawerBtn .3s;
}
.drawer-out-icon-leave-active {
  animation: drawerBtn .3s reverse;
}
@keyframes drawerAnimate {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
.drawer-content-enter-active {
  animation: drawerAnimate .3s;
}
.drawer-content-leave-active {
  animation: drawerAnimate .3s reverse;
}
.bui_drawer_container {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  width: 130px;
  height: 160px;
  .bui_drawer_icon {
    font-size: 25px;
    cursor: pointer;
    vertical-align: middle;
    position: fixed;
    top: 50%;
    margin-top: -12px;
    &.left {
      right: 0;
    }
    &.right {
      right: 134px;
    }
  }
  .bui_drawer_content_wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #B7D8FF, $alpha: 0.5);
    border-radius: 4px;
    line-height: 38px;
  }
}